
<head>
    <meta charset = "utf-8">
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <header class = "header">
        <h3 class = "logo">Shipping Calculator</h3>
    </header>
    <div class = "form-box">
        <form action="/cost" method="post">
            <div class = "input-boxes">

                <label>Package length: </label>
                <input class="input" type="text" name="length">

                <label>Package width: </label>
                <input class="input" type="text" name="width">

                <label>Package height: </label>
                <input class="input" type="text" name="height">

                <label>Package weight: </label>
                <input class="input" type="text" name="weight">
                
                <label>Shipping method: </label>
                <h4 style = "color: red;"><%=@error_message%></h4>
                <label>enter either 'standard', 'priority', or 'overnight'</label>
                <input class="input" type="text" name="shipping_method">

                <button type="submit" class="button">Calculate</button>
            </div>
        </form>
    </div>
</body>


