<h1> Triangle Identifier </h1>


<form action="/result" method="post">
  <label>Enter triangle dimentions in the form: side1, side2, side3 </label>
  <input type="text" name="name">
  <button type="submit">Submit</button>
</form>
