<head>
    <meta charset = "utf-8">
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <header class="header">
    <a href="/"><h1 class="logo">Riddles Of The Sphinx</h1></a>
    </header>
    <div class="form-box">
        <div class = "input-boxes">
            <form action="/riddles/<%= @riddle.id() %>" method="post">
                <div class="input">
                    <label>Name: </label>
                    <input type="text" name="name" autocomplete="off">
                </div>
                <div class="input">
                    <label>Riddle: </label>
                    <input type="text" name="riddle" autocomplete="off">
                </div>
                <div class="input">
                    <label>Answer: </label>
                    <input type="text" name="answer" autocomplete="off">
                </div>
                <input name="_method" type="hidden" value="patch">
                <button class = "button" type="submit">Update riddle</button>
            </form>
        
            <form action="/riddles/<%= @riddle.id() %>" method="post">
                <input name="_method" type="hidden" value="delete">
                <button class= "button"type="submit">Delete riddle</button>
            </form>
        </div>  
    </div>
</body>