<head>
    <meta charset = "utf-8">
    <link rel="stylesheet" type="text/css" href="/looks.css">
</head>
<body>
    <header class="header">
       <h1 class="logo">Riddles Of The Sphinx</h1>
    </header>
    <div class="form-box">
        <div class = "input-boxes">
            <form action="/" method="get">

                <img src="/images/skull.png" width="220">
                
                <h1 class="failure">FAILURE!!! YOU SHALL BE KILLED!!</h1>

                <button type="submit" class = "button">Restart</button>
            </form>
        </div>  
    </div>
</body>