<head>
    <meta charset = "utf-8">
    <link rel="stylesheet" type="text/css" href="/looks.css">
</head>
<body>
    <header class="header">
       <h1 class="logo">Riddles Of The Sphinx</h1>
    </header>
    <div class="form-box">
        <div class = "input-boxes">
            <h3 class="riddle">Riddle: @riddle.riddle</h3>
            <h3 class="riddle">Answer: @riddle.answer</h3>
        </div>  
    </div>
</body>