<head>
    <meta charset = "utf-8">
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <header class="header">
    <a href="/"><h1 class="logo">Riddles Of The Sphinx</h1></a>
    </header>
    <div class="form-box">
        <div class = "input-boxes">
            <h3 class="riddle">RIDDLE:   <%= @riddle.riddle%></h3>
            <h3 class="riddle">ANSWER:   <%= @riddle.answer%></h3>
            <a class = "riddle" href="/riddles/<%= @riddle.id %>/edit">Edit riddle</a>
        </div>  
        
    </div>
</body>