<head>
    <meta charset = "utf-8">
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <header class="header">
    <a href="/"><h1 class="logo">Riddles Of The Sphinx</h1></a>
    </header>
    <div class="form-box">
        <div class = "input-boxes">
            <form action="/riddles" method="post">
                <div class="input">
                    <label>Riddle Name: </label>
                    <input type="text" name="name" autocomplete="off">
                </div>
                <div class="input">
                    <label>Riddle: </label>
                    <input type="text" name="riddle" autocomplete="off">
                </div>
                <div class="input">
                    <label>Answer: </label>
                    <input type="text" name="answer" autocomplete="off">
                </div>
                <button type="submit" class = "button">Go!</button>
            </form>
        </div>  
    </div>
</body>