<head>
    <meta charset = "utf-8">
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <header class="header">
    <a href="/"><h1 class="logo">Riddles Of The Sphinx</h1></a>
    </header>
    <div class="form-box">
        <div class = "input-boxes">
            <form action="/" method="get">

                <img src="/images/city.jpeg" width="300">

                <h1 class="success">SUCCESS!!! YOU HAVE MADE IT INSIDE THE CITY!!</h1>

                <button type="submit" class = "button">Restart</button>
            </form>
        </div>  
    </div>
</body>