    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center, dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend, table, caption,
    tbody, tfoot, thead, tr, th, td, article, aside,
    canvas, details, embed, figure, figcaption, footer,
    header, hgroup, menu, nav, output, ruby, section,
    summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
    display: block;
    }
    body {
    font-family: Helvetica, Arial, Helvetica, sans-serif;  
    line-height: 1;
    }
    blockquote, q {
    quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
    content: '';
    content: none;
    }
    table {
    border-collapse: collapse;
    border-spacing: 0;
    }
    strong, b {
    font-weight: bold;
    }
    em, i {
    font-style: italic;
    }
    a img {
    border: none;
    }
    /* END RESET*/

    .header {
        background-color: darkorange;
        width: 100%;
        height: 12vh; 
        position: relative;
    }
    .logo {
        font-size:xx-large;
        color:black;
        position: absolute;
        margin: 3vh;
        padding: 5px;
        border: 5px double black;
        border-radius: 2rem;
        display: inline-block;
        font-weight: lighter;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    }
    .riddle_link {
        font-size:large;
        color:black;
        position: absolute;
        margin: 3vh 0 3vh 80vw;
        padding: 5px;
        border: 5px double black;
        border-radius: 2rem;
        display: inline-block;
        font-weight: lighter;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .form-box {
        background-color: burlywood; 
        height: 100vh;
        width: 100%;
        position: relative;
        padding: 2em;
    }
    .input-boxes {
        padding:1em;
        border:1px transparent black;
        border-radius:2em;
        text-align: center;
        background-color: lightgrey;
        height:95vh;
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center; 
        margin: 0 30% 0; 
    }
    div > h3 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        font-weight: bold;
        font-style: italic;
    }
    .riddle {
        line-height: 2em;
        margin: 3em 0 3em;
        color: black;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        font-weight: bold;
        font-style: italic;
    }
    .answer {
        margin: .5em 0 .25em;
        text-align: center;
    }
    .success {
        margin-top:2em; 
        font-size: xx-large;
        font-style: italic;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: green;
    }
    .failure {
        margin-top:2em; 
        font-size: xx-large;
        font-style: italic;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: red;
    }
    .riddle_num { 
        margin-top: 1em;
        font-size: xx-large;
        font-style: italic;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: darkred;
    }
    button {
        background-color: grey;
        font-style: italic;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        color: black;
        width: 15vw; 
        height: 5vh; 
        margin-top:2em;
        margin-bottom:2em;
        font-weight: bold;
    }
    .btn {
        background-color: grey;
        font-style: italic;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        color: black;
        width: 15vw; 
        height: 5vh; 
        font-weight: bold;
    }
    img {
        border:1px transparent black;
        border-radius: 2em;
    }
    ul {
        margin: 2em;
    }
    .input {
        margin:6em 0;
    }
